openapi: 3.0.0
info:
  title: Finarkein
  version: 1.0.0
  description: ''
servers:
  - url: https://api.finarkein.in/factory/v1
paths:
  /{workspace}/dp/nerv/{flowId}:
    post:
      summary: New Run
      tags:
        - Nerv
      responses:
        '200':
          description: New Run
          headers:
            Date:
              schema:
                type: string
            Content-Length:
              schema:
                type: integer
            Connection:
              schema:
                type: string
            Vary:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
            Pragma:
              schema:
                type: string
            Expires:
              schema:
                type: integer
            X-Content-Type-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: integer
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestId:
                    type: string
                  redirectUrl:
                    type: string
                    format: uri
      requestBody:
        content:
          application/json:
            schema:
              type: object
    parameters:
      - name: workspace
        in: path
        required: true
        schema:
          type: string
      - name: flowId
        in: path
        required: true
        schema:
          type: string
  /{workspace}/dp/nerv/fetch/{flowId}:
    post:
      summary: New Recurring Run
      tags:
        - Nerv
      responses:
        '200':
          description: New Recurring Run
          headers:
            Date:
              schema:
                type: string
            Content-Length:
              schema:
                type: integer
            Connection:
              schema:
                type: string
            Vary:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
            Pragma:
              schema:
                type: string
            Expires:
              schema:
                type: integer
            X-Content-Type-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: integer
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestId:
                    type: string
      description: >-
        # Input parameters


        | Parameter | Description | Type | M/O |

        | --- | --- | --- | --- |

        | `mobileNumber` | Mobile number of the customer (also used to send SMS
        with Anubhav link, if enabled) | String | M |

        | `applicationNo` | Your internal system application number (insurance
        policy identifier, loan application identifier etc.). This will also
        reflect on the Anubhav Service Console (dedicated UI to track all
        Anubhav flows). | String | M |

        | `emailId` | Email address of the customer (also used to send email
        with Anubhav link, if enabled) | String | O |


        # Webhooks


        Anubhav Financial insights endpoint currently supports one webhook:


        - Flow Run Status (key: `flowRunStatus`)
            

        ## Flow Run Status


        Fired when the flow run status changes.  

        To register a dynamic webhook, you can pass an additional parameter in
        the input as shown below:


        ``` json

        "webhook": {
          "flowRunStatus": "https://webhook.site/9b888dac-ba87-429a-8de3-d6716ce113f9",
          "addOnParams": {
            "application": "APP091234",
            "customerSegment": "hni"
          }
        }


        ```


        where, `flowRunStatus` is the dedicated endpoint on your server as a
        webhook listener that can recieve POST requests on flow run status
        changes.
      requestBody:
        content:
          application/json:
            schema:
              type: object
    parameters:
      - name: workspace
        in: path
        required: true
        schema:
          type: string
      - name: flowId
        in: path
        required: true
        schema:
          type: string
  /{workspace}/dp/nerv/{flowId}/{requestId}/status:
    get:
      summary: Get Status
      tags:
        - Nerv
      responses:
        '200':
          description: Get Status
          headers:
            Date:
              schema:
                type: string
            Content-Length:
              schema:
                type: integer
            Connection:
              schema:
                type: string
            Vary:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
            Pragma:
              schema:
                type: string
            Expires:
              schema:
                type: integer
            X-Content-Type-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: integer
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestId:
                    type: string
                  state:
                    type: object
                    properties:
                      state:
                        type: string
                      consentStatus:
                        type: string
                      dataFetchStatus:
                        type: string
    parameters:
      - name: workspace
        in: path
        required: true
        schema:
          type: string
      - name: flowId
        in: path
        required: true
        schema:
          type: string
      - name: requestId
        in: path
        required: true
        schema:
          type: string
  /{workspace}/dp/nerv/{flowId}/{requestId}/result:
    get:
      summary: Get Result
      tags:
        - Nerv
      responses:
        '200':
          description: Get Result
          headers:
            Date:
              schema:
                type: string
            Content-Length:
              schema:
                type: integer
            Connection:
              schema:
                type: string
            Vary:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
            Pragma:
              schema:
                type: string
            Expires:
              schema:
                type: integer
            X-Content-Type-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: integer
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestId:
                    type: string
                  state:
                    type: object
                    properties:
                      state:
                        type: string
                      consentStatus:
                        type: string
                      dataFetchStatus:
                        type: string
                  data:
                    type: object
                    properties:
                      equities.transactions:
                        type: array
                        items:
                          type: array
                          items:
                            type: string
                      deposit.holders:
                        type: array
                        items:
                          type: array
                          items:
                            type: string
                      recurring_deposit.holders:
                        type: array
                        items:
                          type: array
                          items:
                            type: string
                      nps.summary:
                        type: array
                        items:
                          type: array
                          items:
                            type: string
                      deposit.statement.meta:
                        type: object
                        properties:
                          toTimestamp:
                            type: integer
                          fromTimestamp:
                            type: integer
                          fromDate:
                            type: string
                            format: color
                          noOfDays:
                            type: integer
                          toDate:
                            type: string
                            format: color
                      recurring_deposit.transactions:
                        type: array
                        items:
                          type: array
                          items:
                            type: string
                      insurance_policies.riders:
                        type: array
                        items:
                          type: array
                          items:
                            type: string
                      term_deposit.holders:
                        type: array
                        items:
                          type: array
                          items:
                            type: string
                      insurance_policies.summary:
                        type: array
                        items:
                          type: array
                          items:
                            type: string
                      deposit.transactions:
                        type: array
                        items:
                          type: array
                          items:
                            type: string
                      equities.summary:
                        type: array
                        items:
                          type: array
                          items:
                            type: string
                      term_deposit.summary:
                        type: array
                        items:
                          type: array
                          items:
                            type: string
                      mutual_funds.transactions:
                        type: array
                        items:
                          type: array
                          items:
                            type: string
                      nps.transactions:
                        type: array
                        items:
                          type: array
                          items:
                            type: string
                      insurance_policies.holders:
                        type: array
                        items:
                          type: array
                          items:
                            type: string
                      recurring_deposit.summary:
                        type: array
                        items:
                          type: array
                          items:
                            type: string
                      term_deposit.transactions:
                        type: array
                        items:
                          type: array
                          items:
                            type: string
                      mutual_funds.summary:
                        type: array
                        items:
                          type: array
                          items:
                            type: string
                      nps.holders:
                        type: array
                        items:
                          type: array
                          items:
                            type: string
                      deposit.transactions.meta:
                        type: object
                        properties:
                          accountWiseMeta:
                            type: array
                            items:
                              type: object
                              properties:
                                noOfTransactions:
                                  type: integer
                                toTimestamp:
                                  type: integer
                                maskedAccNumber:
                                  type: string
                                fromTimestamp:
                                  type: integer
                                fromDate:
                                  type: string
                                  format: color
                                noOfDays:
                                  type: integer
                                toDate:
                                  type: string
                                  format: color
                                noOfMonths:
                                  type: integer
                          noOfTransactions:
                            type: integer
                          toTimestamp:
                            type: integer
                          fromTimestamp:
                            type: integer
                          fromDate:
                            type: string
                            format: color
                          noOfDays:
                            type: integer
                          toDate:
                            type: string
                            format: color
                          noOfMonths:
                            type: integer
                      insurance_policies.transactions:
                        type: array
                        items:
                          type: array
                          items:
                            type: string
                      equities.holders:
                        type: array
                        items:
                          type: array
                          items:
                            type: string
                      mutual_funds.holders:
                        type: array
                        items:
                          type: array
                          items:
                            type: string
                      dataReportDetails:
                        type: object
                        properties:
                          downloadUrl:
                            type: string
                          downloadUrlExpirationInSeconds:
                            type: integer
                      deposit.summary:
                        type: array
                        items:
                          type: array
                          items:
                            type: string
                  addOnParams:
                    type: object
                    properties:
                      application:
                        type: string
                      customerSegment:
                        type: string
                      other-key-1:
                        type: string
    parameters:
      - name: workspace
        in: path
        required: true
        schema:
          type: string
      - name: flowId
        in: path
        required: true
        schema:
          type: string
      - name: requestId
        in: path
        required: true
        schema:
          type: string
  /{workspace}/consent/aa/template:
    get:
      summary: Browse consent templates
      tags:
        - Consent templates
      responses:
        '404':
          description: Browse consent templates
          headers:
            Date:
              schema:
                type: string
            Content-Length:
              schema:
                type: integer
            Connection:
              schema:
                type: string
            Vary:
              schema:
                type: string
            Server:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
            Pragma:
              schema:
                type: string
            Expires:
              schema:
                type: integer
            X-Content-Type-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: integer
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
    parameters:
      - name: workspace
        in: path
        required: true
        schema:
          deprecated: false
    post:
      summary: Create new Consent Template
      tags:
        - Consent templates
      responses:
        '404':
          description: Create new Consent Template
          headers:
            Date:
              schema:
                type: string
            Content-Length:
              schema:
                type: integer
            Connection:
              schema:
                type: string
            Vary:
              schema:
                type: string
            Server:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
            Pragma:
              schema:
                type: string
            Expires:
              schema:
                type: integer
            X-Content-Type-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: integer
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
      description: >-
        | **Parameter Name** | **Description** |

        | --- | --- |

        | consentStartOffset | Example: `1m` — 1 minute in future when consent
        is raised.  <br>  <br>If consent is raised at `2021-11-16T08:57:11.111Z`
        then **consentStart** will be set to: `2021-11-16T09:57:11.111Z` |

        | consentExpiryDuration | Example: `1d` — 1 day from **consentStart**. 
        <br>  <br>If **consentStart** is `2021-11-16T09:57:11.111Z`, then
        **consentExpiry** will be set to: `2021-11-17T09:57:11.111Z` |

        | consentMode | Same as standard API.  <br>One of: VIEW / STORE / QUERY
        / STREAM |

        | consentTypes | Any or all of: PROFILE / SUMMARY / TRANSACTIONS |

        | fiTypes | FITypes names should be as defined in the AA Technical
        Specification. |

        | purposeCode | One of: 101 / 102 / 103 / 104 / 105 |

        | fetchType | One of: ONETIME / PERIODIC |

        | consentTemplateDataRange | See following table for more details. |

        | frequency | Frequency information for periodic (\`fetchType =
        PERIODIC\`) information access.  <br>  <br>Example: `6h` — means **6**
        FI request per hour.  <br>  <br>Supported Units: **h** / **d** / **M** /
        **y** / **i** <br>(Refer note about Time notations at the bottom) |

        | dataLife | How long to store data when `consentMode = STORE`.  <br> 
        <br>Supported Units: **d** / **M** / **y** / **i** <br>(Refer note about
        Time notations at the bottom) |


        ## **Consent Template Data Range**


        | **Data Range****Type Enumerations** | **Example (s)** | Description |

        | --- | --- | --- |

        | FINANCIAL_YEAR | For current FY, use:  <br>`{ "type":
        "FINANCIAL_YEAR", "year": "0" }`  <br>  <br>For current and last 1 FY,
        use:  <br>`{ "type": "FINANCIAL_YEAR", "year": "1" }` | If consent is
        raised on `2021-11-16` then date range generated for consent is:  <br> 
        <br>`{ "from": "2021-04-01T00:00:00.000Z", "to":
        "2022-03-31T23:59:59.999Z" }` |

        | FIXED | `{ "type": "FIXED", "from": "2020-04-01T00:00:00.000Z", "to":
        "2022-03-31T23:59:59.999Z" }` | Values specified in the consent Template
        will be considered. |

        | SAME_AS_CONSENT | `{ "type": "SAME_AS_CONSENT" }` | If
        **consentStart**: `2021-11-16T09:57:11.111Z` and **consentExpiry**:
        `2021-11-17T09:57:11.111Z`, then  <br>data range will be as follows: 
        <br>  <br>`{ "from": "2021-11-16T09:57:11.111Z", "to":
        "2021-11-17T09:57:11.111Z" }` |

        | CONSENT_START_RELATIVE | Date range will be relative to
        resolved`consentStart` and `consentEnd`  <br>  <br>`{ "type":
        "CONSENT_START_RELATIVE", "from": "-6M", "to": "0m" }` | If
        **consentStart**: `2021-11-16T18:47:08.235Z` and **consentExpiry**:
        `2021-11-17T18:47:08.235Z`, then data range will be as follows:  <br> 
        <br>`{ "from": "2021-05-16T18:47:08.235", "to": "2all
        1-11-16T18:47:08.235" }` |


        ### Time/Duration Notations


        The time/duration notations expected in the Consent template definition
        use the follow notations.


        | **Notation** | **Time Unit** |

        | --- | --- |

        | s | Seconds |

        | m | Minute |

        | h | Hour |

        | d | Day |

        | w | Week |

        | M | Month |

        | y | Year |

        | i | Infinite^ |


        **^** Only supported in some fields: dataExpiry and frequency.
      requestBody:
        content:
          application/json:
            schema:
              type: object
  /{workspace}/consent/aa/template/{id}:
    get:
      summary: Get consent template by identifier
      tags:
        - Consent templates
      responses:
        '404':
          description: Get consent template by identifier
          headers:
            Date:
              schema:
                type: string
            Content-Length:
              schema:
                type: integer
            Connection:
              schema:
                type: string
            Vary:
              schema:
                type: string
            Server:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
            Pragma:
              schema:
                type: string
            Expires:
              schema:
                type: integer
            X-Content-Type-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: integer
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
    parameters:
      - name: workspace
        in: path
        required: true
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: Identifier for the template
        schema:
          type: string
  /{workspace}/institutions/aa/fip:
    get:
      summary: Get FIPs on AA network
      tags:
        - Institutions
      responses:
        '200':
          description: Factory / Institutions / FIPs
          headers:
            Date:
              schema:
                type: string
            Content-Length:
              schema:
                type: string
            Connection:
              schema:
                type: string
            Vary:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
            Pragma:
              schema:
                type: string
            Expires:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: array
                    items:
                      type: object
                      properties:
                        version:
                          type: string
                        name:
                          type: string
                        id:
                          type: string
                        fiTypes:
                          type: array
                          items:
                            type: string
                  pageable:
                    type: object
                    properties:
                      sort:
                        type: object
                        properties:
                          sorted:
                            type: string
                          empty:
                            type: string
                          unsorted:
                            type: string
                      pageSize:
                        type: string
                      pageNumber:
                        type: string
                      offset:
                        type: string
                      paged:
                        type: string
                      unpaged:
                        type: string
                  totalPages:
                    type: string
                  totalElements:
                    type: string
                  last:
                    type: string
                  number:
                    type: string
                  size:
                    type: string
                  numberOfElements:
                    type: string
                  sort:
                    type: object
                    properties:
                      sorted:
                        type: string
                      empty:
                        type: string
                      unsorted:
                        type: string
                  first:
                    type: string
                  empty:
                    type: string
    parameters:
      - name: workspace
        in: path
        required: true
        schema:
          deprecated: false
    patch:
      summary: Update (enable/disable) FIP(s) status
      tags:
        - Institutions
      responses:
        '202':
          description: Update FIP
          headers:
            Date:
              schema:
                type: string
            Content-Length:
              schema:
                type: string
            Connection:
              schema:
                type: string
            Vary:
              schema:
                type: string
            Cache-Control:
              schema:
                type: string
            Pragma:
              schema:
                type: string
            Expires:
              schema:
                type: string
            X-Content-Type-Options:
              schema:
                type: string
            Strict-Transport-Security:
              schema:
                type: string
            X-Frame-Options:
              schema:
                type: string
            X-XSS-Protection:
              schema:
                type: string
            Content-Security-Policy:
              schema:
                type: string
            Referrer-Policy:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  txnId:
                    type: string
                  timestamp:
                    type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                fips:
                  type: array
                  items:
                    type: object
                    properties:
                      fipId:
                        type: string
                      enabled:
                        type: string
  /{workspace}/institutions/aa/fip/status:
    get:
      summary: Get FIP Health Status
      tags:
        - Institutions
      responses:
        default:
          description: Get FIP Status-detailed
          content:
            application/json:
              schema:
                type: object
                properties:
                  fipHealthStats:
                    type: array
                    items:
                      type: object
                      properties:
                        fip:
                          type: string
                        journeyMetric:
                          type: object
                          properties:
                            UserDiscoveryResponse:
                              type: integer
                            ConsentPostResponse:
                              type: integer
                        dataFetchSuccessRate:
                          type: array
                          items:
                            type: object
                            properties:
                              duration:
                                type: string
                              value:
                                type: number
                        cause:
                          type: string
                        preferredAction:
                          type: string
    parameters:
      - name: workspace
        in: path
        required: true
        schema:
          type: string
  /:
    post:
      summary: Generate new access token
      tags: []
      responses:
        '200':
          description: Generate new access token
          headers:
            Date:
              schema:
                deprecated: false
            Content-Length:
              schema:
                deprecated: false
            Connection:
              schema:
                deprecated: false
            Cache-Control:
              schema:
                deprecated: false
            Set-Cookie:
              schema:
                deprecated: false
            X-XSS-Protection:
              schema:
                deprecated: false
            Pragma:
              schema:
                deprecated: false
            X-Frame-Options:
              schema:
                deprecated: false
            Referrer-Policy:
              schema:
                deprecated: false
            Strict-Transport-Security:
              schema:
                deprecated: false
            X-Content-Type-Options:
              schema:
                deprecated: false
      servers:
        - url: https://id.finarkein.com/auth/realms/fin-dev/protocol/openid-connect/token
